body {
  background-color: #F0F0F0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.card {
  background-color: white;
  box-shadow: 0 0 5px gray;
}

header {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.header-left, .header-right {
  width: 25%;
}

header h1 {
  width: 50%;
  text-align: center;
  padding-left: 42.5px;
}

.header-right {
  text-align: right;
}

.notifications {
  display: inline;
  position: absolute;
  right: 200px;
  top: 30.5px;
}

.notifications .notif {
  position: relative;
}

.notifications .notif:not(:last-of-type) {
  margin-right: 40px;
}

.bubble {
  position: absolute;
  top: -15px;
  right: -15px;
  display: flex;
  width: 20px;
  height: 20px;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 9pt;
  border-radius: 50%;
}

.header-right img {
  border-radius: 50%;
  width: 2%;
  position: absolute;
  right: 110px;
  top: 21px;
}

.header-right .fa-cog {
  position: absolute;
  top: 32px;
  right: 50px;
}

.body {
  display: flex;
}

nav {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item a {
  color: white;
}

.nav-item {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

.main {
  flex-grow: 1;
  margin: 0px 35px;
}

.main h2 {
  margin-bottom: 0;
}

.main h4 {
  margin: 0;
  display: inline;
}

.fa-map-marker {
  color: red;
}

.main .location {
  color: blue;
  font-weight: bold;
}

.social-media {
  display: flex;
  margin-top: 40px;
}

.social-media .card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 25%;
  padding: 25px 0;
}

.social-media .card:not(:last-of-type) {
  margin-right: 35px;
}

.social-media .card .info {
  float: right;
  text-align: right;
}

.social-media .info h1, .social-media .info h3 {
  margin: 0;
  color: #515D6E;
}

.social-media .info h3 {
  font-weight: lighter;
}

.fa-windows {
  color: green;
}

.fa-facebook {
  color: blue;
}

.fa-google-plus {
  color: red;
}

.fa-apple {
  color: black;
}

.charts {
  display: flex;
  margin-top: 20px;
}

.charts .card {
  width: 50%;
  height: 500px;
  color: #515D6E;
}

.charts .card:first-of-type {
  margin-right: 35px;
}

.charts .header {
  display: flex;
  padding: 15px;
}

.charts .title {
  flex-grow: 1;
}

.charts .buttons i:not(:last-of-type) {
  margin-right: 9px;
}
